header {
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    height: 180px;
    position: relative;
}

.logo {
    height: 60px;
    position: absolute;
    bottom: 8px;
    left: 16px;
}